.main {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-wrapper {
	width: 100%;
	max-width: 1400px;
	height: 100%;
	max-height: 800px;
	margin: 5px;
	display: flex;
	background-image: url("../img/Background.png");
	background-repeat: no-repeat;
}
